

@font-face {
    font-family: Poppins;
    src: url("~@/assets/Poppins/Poppins-Regular.ttf") format("truetype");
}


#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eef4fc;
    min-height: 100vh;
}


/// Header Search Container

div.large-container {
    width: 100%;

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 0;


    nav {
        padding-top: 20px;

        a {
            color:#eef4fc;
        }
    }

    

    h1 {
        padding-top: 100px;
        max-width: 700px;
        font-size: 54px;
        font-family: "Poppins";
    }

}


#search-form {
    
    width: 100%;
    height: 80px;
    margin-top: -40px;

    position: relative;
    padding-top: 0;
    margin-bottom: 50px;
    
    border-radius: 15px;
    background-color: white;

    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.1),0 6px 20px 0 rgba(0,0,0,0.05) !important;
    

    #search-form-component {
        display: flex;
    }

}


#header-search-image {
    width: 100%;
    height: 500px;
    border-radius: 20px;

    background: url("./assets/head.jpg") no-repeat center center;
    background-size: auto;
    background-size: cover;
    position: relative;
}


#header-search-container {
    width: 100%;
    height: 100%;

    border-radius: 20px;
    // background-image: linear-gradient(to right bottom, rgba(3, 0, 61, 0.9), rgba(24, 20, 87, 0.8), rgba(49, 36, 113, 0.7), rgba(73, 53, 141, 0.8), rgba(98, 71, 170, 0.9));
    background-image: linear-gradient(to left top, 
        rgba(2, 9, 18, 0.6), 
        rgba(0, 8, 22, 0.6), 
        rgba(1, 6, 26, 0.6), 
        rgba(5, 4, 29, 0.6), 
        rgba(11, 1, 31, 0.6)
    );

    color: white;
}


.datepicker {
    width: 500px;
}